/* dashboard usuarios */

.usuarios{
    color: #00E5E8;
}


.cards_container{
    width: 68vw;
    height: 90vh;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 30%;

    background-color: rgba(52, 228, 234, 0.5);
    border-radius: 10px;
}

.card_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
}

.card_data-icon > span > i{
    font-size: 5em;
    color: #49516F;
}

.card_buttons{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}