<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap" rel="stylesheet">
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/dashboardGeneral.css">
    <link rel="stylesheet" href="../css/dashboardIntro.css">
</head>
<body>
    <div class="container">

        <aside class="dashboard_lateral">

            <section class="lateral_header">

                <article class="lateral_items">
                    <div class="items user">
                        <span class="icono"><i class="far fa-user"></i></span>
    
                        <div class="titulo">
                            <h1>
                                Alfredo Paz 
                            </h1>

                            <span>Administrador</span>
                        </div>
                    </div>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items">
                        <span class="icono"><i class="fas fa-money-check-alt"></i></span>
                        <p href="#">Abonos</p>
                    </a>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items">
                        <span class="icono"><i class="fas fa-wallet"></i></span>
                        <p href="#">Deudas</p>
                    </a>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items usuarios">
                        <span class="icono"><i class="fas fa-user-plus"></i></span>
                        <p href="#">Usuarios</p>
                    </a>
                </article>
            </section>
            
            <section class="lateral_footer">

                <article class="lateral_items footer">
                    <div class="items logOut">
                        <span class="icono"><i class="fas fa-sign-out-alt"></i></span>
                        <p>Salir</p>
                    </div>
                </article>

                <div class="copyright">
                    <p>Derechos reservados &copy; 2020 </p>
                </div>

            </section>

        </aside>

        <section class="dashboard_main"> 

            <article class="main_container">

                <div class="cards_container">

                    <section class="card">

                        <div class="card_data">

                            <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                    <section class="card">

                        <div class="card_data">

                            <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                    <section class="card">

                        <div class="card_data">

                            <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                    <section class="card">

                        <div class="card_data">

                            <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                    <section class="card">

                        <div class="card_data">

                            <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                    <section class="card">

                        <div class="card_data">

                             <div class="card_data-icon">
                                
                                <span class="icon"><i class="fas fa-user-tie"></i></span>

                            </div>

                            <div class="card_data-text">

                                <h3 class="name">Lorem, ipsum</h3>

                                <p>Ultimo pago: <span class="agree">14/11/2020</span></p>
                                <P>Deuda: <span class="desagree">$2000</span></P>

                            </div>

                        </div>

                        <div class="card_buttons">

                            <button type="submit" class="btn-eliminar btn">Eliminar</button>
                            <button type="submit" class="btn-modificar btn">Modificar</button>

                        </div>

                    </section>

                </div>

            </article>

        </section>
    </div>
</body>
</html>