<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap" rel="stylesheet">
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/dashboardGeneral.css">
    <link rel="stylesheet" href="../css/dashboardDeudas.css">

    <!-- scrips -->
    <script src="../objects/usuarios.js"></script>
</head>
<body>
    <div class="container">

        <aside class="dashboard_lateral">

            <section class="lateral_header">

                <article class="lateral_items">
                    <div class="items user">
                        <span class="icono"><i class="far fa-user"></i></span>
    
                        <div class="titulo">
                            <h1>
                                Alfredo Paz 
                            </h1>

                            <span>Administrador</span>
                        </div>
                    </div>
                </article>
    
                <article class="lateral_items">
                    <button href="#" class="items abonos">
                        <span class="icono"><i class="fas fa-money-check-alt"></i></span>
                        <p href="#">Abonos</p>
                    </button>
                </article>
    
                <article class="lateral_items">
                    <button href="#" class="items">
                        <span class="icono"><i class="fas fa-wallet"></i></span>
                        <a href="adminDeudas.html">Deudas</a>
                    </button>
                </article>
    
                <article class="lateral_items">
                    <button href="#" class="items">
                        <span class="icono"><i class="fas fa-user-plus"></i></span>
                        <a href="adminUsuarios.html">Usuarios</a>
                    </button>
                </article>
            </section>
            
            <section class="lateral_footer">

                <article class="lateral_items footer">
                    <button class="items logOut">
                        <span class="icono"><i class="fas fa-sign-out-alt"></i></span>
                        <p>Salir</p>
                    </button>
                </article>

                <div class="copyright">
                    <p>Derechos reservados &copy; 2020 </p>
                </div>

            </section>

        </aside>

        <section class="dashboard_main"> 

            <article class="main_container">

                <div class="table_container">
                    <div class="form">

                        <div class="formulario">


                            <div class="form_cantidad">
    
                                <span class="icono"><i class="fas fa-dollar-sign"></i></span>
    
                                <input type="number" name="cantidad" id="" placeholder="5000">
    
                                <span class="decimales">.00</span>
    
                            </div>
    
                            <div class="boton">
    
                                <button class="btn">Agregar</button>
    
                            </div>
                        </div>

                        <!-- <span class="select_all">
                            <input type="checkbox" name="todo" id="all">
                            <label for="all">Seleccionar todo</label>
                        </span> -->

                    </div>


                    <div class="tabla">


                        <table>

                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th class="ultimo">Selección</th>
                                </tr>
                            </thead>
                            
                            <tbody id="personas-abonos"></tbody>


                        </table>

                    </div>

                </div>

            </article>

        </section>
    </div>

    <!-- SCRIPTS -->
    <script src="../modules/app.js"></script>
    <script src="../modules/adminAbonosVista.js"></script>
</body>
</html>