<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap" rel="stylesheet">
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <div class="container">

        <aside class="dashboard_lateral">

            <section class="lateral_header">

                <article class="lateral_items">
                    <div class="items user">
                        <span class="icono"><i class="far fa-user"></i></span>
    
                        <div class="titulo">
                            <h1>
                                Alfredo Paz 
                            </h1>

                            <span>Administrador</span>
                        </div>
                    </div>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items abono">
                        <span class="icono"><i class="fas fa-money-check-alt"></i></span>
                        <p href="#">Abonos</p>
                    </a>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items deuda">
                        <span class="icono"><i class="fas fa-wallet"></i></span>
                        <p href="#">Deudas</p>
                    </a>
                </article>
    
                <article class="lateral_items">
                    <a href="#" class="items usuarios">
                        <span class="icono"><i class="fas fa-user-plus"></i></span>
                        <p href="#">Usuarios</p>
                    </a>
                </article>
            </section>
            
            <section class="lateral_footer">

                <article class="lateral_items">
                    <div class="items logOut">
                        <span class="icono"><i class="fas fa-sign-out-alt"></i></span>
                        <p>Salir</p>
                    </div>

                    <div class="copyright">
                        <p>Derechos reservados </p>
                    </div>
                </article>

            </section>

        </aside>

        <section class="dashboard_main"> HI</section>
    </div>
</body>
</html>